{%extends 'base.html'%}
{%block content %}



<button class="btn btn-light createbtn" class="btn-create">
    <a href="{% url 'post-create' %}">Create Post</a>
</button>

{% for post in all_posts %}
<legend class="main" >
    {% load static %}

    <h2 class="mainame"><img src="{% static 'icon.png' %}" height="25px" width="25px">{{post.user}}</h2>
    <h3><a href="{% url 'post-detail' post.id %}" >  {{post.title}}</a></h3>
    <span class="spanpost">{{post.created_at}}</span>
    <hr>
</legend>
{% endfor %}
{% endblock %}