{%extends 'base.html'%}
{% block content %}
<legend style="text-align: center;">
{% load static %}
<h3><img src="{% static 'icon.png' %}" height="25px" width="25px">  {{post.title}}</h3>

{% if post.file %}
<p><img src="{{post.file.url}}" width="300px" alt="couldnt load the file"></p>
{% endif %}

<div class="postcontainer">
<p class="des">{{post.describition}}</p>
<span class="postdate">{{post.created_at}}</span>
<div class="backbtn"><button class="btn btn-sm btn-outline-secondary" style="font-size: large;" onclick="history.back()" >Go Back</button></div>
</div>

</legend>
{% for comment in post.comment_set.all %}
        <div class="comment">
        <h3><img src="{% static 'icon.png' %}" height="25px" width="25px">  {{comment.user.username}}</h3>
        <p name="content" cols="40" rows="10" required="" id="id_content" style="font-family: 'Times New Roman', Times, serif; text-align: center;   border: 1px solid gray; padding: 20px; background-color: whitesmoke; color: black;font-size: x-large;" disabled>{{comment.content}}</p>
        <p style="color: black; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: larger; font-weight:550;">Created at: {{comment.created_at}}</p>
        {% if comment.comment_file %}
        <p><img src="{{comment.comment_file.url}}" width="300px" alt="couldnt load the image"></p>
        {% endif %}
        </div>
        <hr>

{% endfor %}
{% endblock %}