.register_field_label{
    color: rgb(85, 93, 93);
    text-align: center;
}
.content{
    color: rgb(77, 81, 85);
}
.main{
    text-align: center;
}
.sign{
    text-align: justify;
}
.invisible{
    padding-bottom: 100px;
}
.des{
    outline-style: dashed;
    outline-color: rgb(30, 24, 24);
    color: rgb(202, 214, 224);
    background-color: rgb(62, 66, 83);
    text-align: center;

}
.postdate{
    float: right;
}
.postcontainer{
    width: 35%;
    margin:auto
}
.btn_create{
    color: rgb(203, 55, 55);
}
.createcommentcontainer{
    margin: auto;
    border: 1px solid black;
    border-radius: 5%;
    padding-left: 20px;
    padding-right: 20px;

    width: fit-content;
}
.createpostcontainer{
    margin: auto;
    
    border: 1px solid black;
    border-radius: 5%;
    padding-left: 20px;
    padding-right: 20px;
    
    width: fit-content;}
.div_auth{
    color: rgb(15, 8, 8);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: x-large;
    width: fit-content;
}
.divin{
        color: rgb(66, 123, 54);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 12px;
    width: fit-content;
}
.backbtn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
}
.vpla{
    color: rgb(24, 32, 26);
}
.searchbar{
    
    margin-left: 100px;
}
.comment{
    margin: auto;
    width: 30%;
    text-align: center;
}
.nocomment{
    margin: auto;
    color: black;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 30%;

}
